<p style="color: green"><%= notice %></p>

<%= render @post %>

<% if user_signed_in? %>
  <div>
    Post made by: <%= User.find(@post.user_id).email %>
  </div>
<% end %>
<br>

<div>
  <% if user_signed_in? && (current_user.id == @post.user_id) %>
    <div>
    <%= button_to "Destroy this post", @post, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    </div>
  <% end %>

  <br>
  <%= link_to "Back to posts", posts_path %>
</div>
